/*------------MAIN CLASS--------------*/
html {
    font-size: 17px;
}
body {
    display: block;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background: white;
}
.call {
    position: fixed;
    bottom: 1.2rem;
    right: 1.2rem;
    z-index: 5;
    width: 5.9rem;
    height: 5.9rem;
    background-color: #FBDA73;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.call_btn_icon {
    width: 3rem;
    height: 2rem;
}
h1,h2,h3,h4,h5,h6 {
    display: block;
    margin: 0;
}
p {
    margin: 0;
}
.row {
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
}
.row>* {
    margin: 0;
    padding: 0;
}
/*------------HEADER--------------*/
.header {
    height: 4.7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10%;
    background-color: black;
}
.header_logo {
    transform: scale(0.7);
}
.nav_desktop {
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.nav_element {
    font-size: 0.9rem;
    text-decoration: none;
    color: white;
}
.nav_element:hover {
    color: #FBDA73;
}
.social {
    display: flex;
    align-items: center;
    width: 10%;
}
.social_element_inner {
    width: 1.76rem;
    height: 1.76rem;
}
/*------------MAIN--------------*/
.main {
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.MainVideo {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    object-fit: cover;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.main_logo{
    width: 45rem;
    height: 45rem;
    margin-bottom: 2.5rem;
}
.nav_burger {
    display: none;
}
/*------------ABOUT--------------*/
.about {
    background: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.about_title{
    font-size: 7.05rem;
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: -1.18rem;
}
.about_main {
    display: flex;
    padding: 10% 10% 0 10%;
}
.about_text_block{
    max-width: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about_text{
    font-size: 0.95rem;
    font-weight: 400;
    text-align: justify;
    width: 90%;
}
.about_photo_block {
    max-width: 50%;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.about_video{
    width: auto;
    max-width: 90%;
    position: relative;
}
.our_advantages {
    margin-bottom: 7.65rem;
}
.advantages_main_text_block {
    display: flex;
    justify-content: center;
    align-items: center;
}
.advantages_main_text {
    font-weight: 600;
    font-size: 1rem;
}
.advantages {
    width: 100vw;
    margin-top: 4.42rem;
    display: flex;
    justify-content: space-evenly;
}
.advantage {
    width: 20%;
}
.advantage_icon_block {
    display: flex;
    justify-content: center;
    align-items: center;
}
.advantage_photo {
    width: 40%;
}
.advantage_text_block {
    margin-top: 1.76rem;
    width: 100%;
}
.advantage_text {
    font-size: 0.88rem;
    text-align: justify;
}
.our_team {
    padding: 10%;
}
.about_team_title {
    text-align: center;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 6rem;
    font-weight: 400;
}
.workers_width {
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}
.about_workers {
    max-width: 25%;
    width: 100%;
    position: relative;
}
.about_workers:hover .about_workers_text_block{
    opacity: 1;
}
.about_lena {
    max-width: 30%;
    width: 100%;
    position: relative;
}
.about_lena:hover .about_lena_text_block{
    opacity: 1;
}
.about_lena_text_block {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(251, 218, 115, 0.7);
    transition: opacity .2s linear;
    opacity: 0;
}
.about_workers_text_block {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(251, 218, 115, 0.7);
    transition: opacity .2s linear;
    opacity: 0;
}
.about_lena_text {
    text-align: center;
    padding: 0 3%;
}
.about_workers_text {
    text-align: center;
    padding: 0 5%;
}
.about_lena_photo_block{
    width: 100%;
}
.about_lena_photo {
    width: 100%;
}
.about_workers_photo_block{
    width: 100%;
}
.about_workers_photo {
    width: 100%;
}
.team_mobile_carousel {
    display: none;
}
/*------------CAROUSEL--------------*/
.carousel-description {
    height: 51.76rem;
}
.carousel-indicators-description {
    margin: 0;
    width: 50%;
    margin-bottom: 1rem;
}
.carousel-indicators-description [data-bs-target] {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    margin: 0 0.2rem;
    background-color: #FBDA73;
}
.carousel-indicators-description [data-bs-target]:focus-visible {
    outline: none;
}
.content {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.content_title {
    color: #fcda73;
    font-size: 2.94rem;
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: 400;
    margin-left: 10%;
    margin-bottom: 1.75rem;
}
.content_text_part {
    background: linear-gradient(180deg, rgb(230 207 176) 0%, rgb(135 118 94) 33%, rgb(111 97 80) 66%, rgb(81 71 57) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    width: 100%;
}
.content_text_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.content_text {
    color: white;
    margin: 0 10%;
    text-align: justify;
    font-size: 1rem;
}
.content_additional_text_block {
    margin: 2.95rem 10% 0 10%;
    display: flex;
    justify-content: space-between;
}
.content_additional_text {
    color: white;
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: 400;
    width: 70%;
    font-size: 0.95rem;
}
.content_video_block {
    max-width: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.content_video_block::after {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
    opacity: 20%;
}
.description_video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content_photo {
    width: 100%;
    height: auto;
}
.btn_to_price_block {
    padding-top: 4.7rem;
}
.btn_to_price {
    text-decoration: none;
    color: #FBDA73;
    font-size: 1rem;
    border: 0.1rem solid #FBDA73;
    border-radius: 0.6rem;
    margin-top: 2.94rem;
    padding: 0.94rem;
    transition: .2s all ease-in-out;
}
.btn_to_price:hover {
    color: black;
    background-color: #FBDA73;
    transition: .2s all ease-in-out;
}
.certificate_additional {
    display: flex;
    justify-content: right;
    padding-top: 2.94rem;
}
.order_certificate {
    text-decoration: none;
    font-size: 1rem;
    color: #FBDA73;
    padding: 1.18rem;
    border-radius: 0.6rem;
    border: 0.1rem solid #FBDA73;
    transition: all .2s ease-in-out;
    margin-right: 4rem;
}
.order_certificate:hover {
    color: black;
    background-color: #FBDA73;
    transition: all .2s ease-in-out;
}
/*------------PRICE--------------*/
.price {
    background: black;
    overflow: hidden;
    min-height: 75rem;
    width: auto;
    position: relative;
}
.BackVideo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    z-index: 0;
}
.price::after {
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    z-index: 1;
    background: black;
    opacity: 60%;
}
.price_content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
}
.price_title {
    text-transform: uppercase;
    padding-top: 3.53rem;
    text-align: center;
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: 400;
    font-size: 4.12rem;
    color: #FBDA73;
}
.price_list {
    margin: 0;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}
.price_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20%;
    margin-bottom: 1.18rem;
}
.price_item_title {
    color: #FBDA73;
    border-bottom: 1px solid #FBDA73;
    height: 30%;
    margin-bottom: 0.6rem;
    line-height: 2.65rem;
    font-family: 'Libre Baskerville', sans-serif;
}
.price_item_procedures{
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.price_item {
    color: #FBDA73;
    list-style-type: none;
    font-size: 1.29rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.9rem;
}
.price_item_text {
    padding: 0.3rem;
}
/*------------PHOTO GALLERY--------------*/
.photo_gallery {
    background: white;
    padding-bottom: 4.65rem;
}
.photo_gallery_title {
    text-transform: uppercase;
    padding-top: 4.7rem;
    text-align: center;
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: 400;
    font-size: 4.12rem;
    color: black;
}
.photo_gallery_items {
    margin: 5% 10% 0 10%;
    height: 55rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
.photo_gallery_item {
    /*width: 25%;*/
    /*height: 30%;*/
    position: absolute;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*margin-bottom: 3rem;*/
}
.gallery_1 {
    top: 0;
    left: 0;
    width: 24%;
    height: 34%;
}
.gallery_2 {
    top: 0;
    left: 25%;
    width: 24%;
    height: 65%;
}
.gallery_3 {
    top: 0;
    left: 50%;
    width: 24%;
    height: 34%;
}
.gallery_4 {
    top: 0;
    left: 75%;
    width: 24%;
    height: 65%;
}
.gallery_5 {
    top: 35%;
    left: 0;
    width: 24%;
    height: 65%;
}
.gallery_6 {
    top: 66%;
    left: 25%;
    width: 24%;
    height: 34%;
}
.gallery_7 {
    top: 35%;
    left: 50%;
    width: 24%;
    height: 65%;
}
.gallery_8 {
    top: 66%;
    left: 75%;
    width: 24%;
    height: 34%;
}
.photo_gallery_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.see_more_btn {
    padding-top: 2.36rem;
}
.see_more_text {
    text-align: center;
    font-size: 1.47rem;
    font-weight: 400;
}
.btn_more_ref {
    margin-top: 1.18rem;
    display: flex;
    justify-content: center;
    color: rebeccapurple;
    text-decoration: none;
}
.btn_more_ref:hover {
    color: rebeccapurple;
}
.fa-instagram::before {
    width: 3.53rem;
    height: auto;
}
/*------------REVIEWS--------------*/
.reviews {
    /*background: white;*/
    height: 50rem;
    color: white;
    position: relative;
    border-bottom: 1rem solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reviews::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: rgb(39 35 31);
    opacity: 85%;
}
.reviews_title {
    padding-top: 7rem;
    padding-bottom: 4.7rem;
    text-align: center;
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    color: white;
}
.review_block {
    display: flex;
    justify-content: space-evenly;
    padding: 0 5%;
    height: 26.5rem;
    width: 100%;
}
input[type=radio] {
    display: none;
}
.reviews_items {
    max-width: 50%;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.cards {
    position: relative;
    width: 100%;
    height: 90%;
}
.card {
    position: absolute;
    width: 70%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform 0.4s ease;
    cursor: pointer;
    background: none;
    border: none;
}
#item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
    transform: translatex(-115%) scale(0.7);
    opacity: 0.4;
    z-index: 0;
}

#item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
    transform: translatex(115%) scale(0.7);
    opacity: 0.4;
    z-index: 0;
}

#item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
    transform: translatex(0) scale(1.3);
    opacity: 1;
    z-index: 1;
}
.review_item {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.review_main_text {
    font-weight: 400;
    line-height: 1.5rem;
    font-size: 1rem;
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}
.review_name {
    font-size: 1.18rem;
    padding-bottom: 2rem;
}
/*------------CONTACT--------------*/
.contacts {
    /*background: black;*/
    padding: 7.05rem 0;
    color: white;
    position: relative;
}
.contacts::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(39 35 31);
    opacity: 50%;
    z-index: -1;
}
.contacts_title {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: 400;
    font-size: 4.12rem;
    color: white;
}
.contacts_items {
    display: flex;
    padding: 5% 15%;
    justify-content: space-between;
}
.contact_item_title {
    font-weight: 400;
    margin-bottom: 1.18rem;
}
.contact_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}
.contact_item_text {
    text-align: center;
    font-size: 1rem;
}
/*------------MAP--------------*/
.map {
    background: white;
    height: 25rem;
}
/*------------FOOTER--------------*/
.footer {
    height: 10vh;
    background: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_title {
    font-size: 1.18rem;
    color: white;
    margin-right: 1.18rem;
}
.footer_additional {
    display: flex;
    flex-direction: column;
}
.footer_additional_item {
    font-size: 0.88rem;
    text-decoration: none;
    color: white;
    text-align: center;
    transition: all .3s ease-in-out;
}
.footer_additional_item:hover {
    color: black;
    transition: all .3s ease-in-out ;
}
.footer_link {
    color: #FBDA73;
    text-decoration: none;
}
.footer_link:hover {
    color: #172820;
}

/*------------MEDIA QUERY-------------*/

/*Making adaptive all sizes and text*/
@media screen and (max-width: 1920px) {
    html {
        font-size: 19px;
    }
}
@media screen and (max-width: 1600px) {
    html {
        font-size: 16px;
    }
}
@media screen and (max-width: 1280px) {
    html {
        font-size: 13px;
    }
}
@media screen and (max-width: 1024px) {
    html {
        font-size: 10px;
    }
}
@media screen and (max-width: 768px) {
    html {
        font-size: 8px;
    }
}
@media screen and (max-width: 430px) {
    html {
        font-size: 6px;
    }
}

/*Changing elements for moblie versions*/
@media screen and (max-width: 430px) {
    .call {
        width: 12rem;
        height: 12rem;
    }
    .call_btn_icon {
        width: 4rem;
        height: 4rem;
    }
    .header {
        display: none;
    }
    .nav_burger {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
    }
    .burger_btn {
        width: 20rem;
        height: 20rem;
        position: relative;
        z-index:2;
        overflow: hidden;
    }
    .burger_btn span {
        width: 8rem;
        height: 0.5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #FBDA73;
        transition: all 0.5s;
    }
    .burger_btn span:nth-of-type(2) {
        top: calc(50% - 2rem);
    }
    .burger_btn span:nth-of-type(3) {
        top: calc(50% + 2rem);
    }
    .burger_btn.active span:nth-of-type(1) {
        display: none;
    }
    .burger_btn.active span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);
    }
    .burger_btn.active span:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg);
    }
    .main {
        height: 100vh;
    }
    .MainVideo {
        height: 100vh;
        width: 100vw;
    }
    .main_logo {
        width: 65rem;
        height: 65rem;
    }
    .nav_mobile {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #4b4b4b;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        padding: 5rem;
        transform: translateX(-100%);
        transition: transform .5s;
    }
    .nav_mobile.active {
        transform: translateX(0);
    }
    .nav_mobile_element {
        text-decoration: none;
        color: #FBDA73;
        font-size: 5rem;
        padding: 3rem;
    }
    .nav_mobile_element:active {
        color: #FBDA73;
    }
    .nav_mobile_element:visited {
        color: #FBDA73;
    }
    .social {
        width: 100%;
        justify-content: right;
        padding: 5rem;
    }
    .about_main {
        flex-direction: column-reverse;
    }
    .about_text_block {
        max-width: 100%;
        align-items: center;
    }
    .about_title {
        margin-left: 0;
        text-align: center;
        font-size: 10rem;
    }
    .about_text {
        margin-top: 2rem;
        max-width: 95%;
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
    }
    .about_text_starting {
        display: block;
        max-width: 100%;
        width: 100%;
    }
    .about_photo_block {
        display: none;
    }
    .about_team_title {
        font-size: 9rem;
    }
    .team {
        flex-direction: column
    }
    .team_mobile_carousel {
        display: block;
    }
    .team_carousel_content {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 100%;
        width: 100%;
    }
    .team_carousel_photo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .lena_mobile_photo {
        width: 100%;
    }
    .advantages_main_text {
        font-size: 1.5rem;
        max-width: 80%;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .advantages {
        flex-wrap: wrap;
    }
    .advantage {
        width: 45%;
    }
    .last {
        margin-top: 3rem;
    }
    .advantage_text {
        font-size: 1.3rem;
    }
}
